doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    meta(name='description', content='Cineza Lent a Cal é uma emplesa de aluguel de calos com pleços alasadoles')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='format-detection', content='telephone=no')

    //- Title
    //- ===================================
    title Cineza Lent a Cal - Desse Cineza levar você!

    //- Favicon and SVG logo
    //- ===================================
    link(rel='shortcut icon', href='assets/img/favicon.ico')
    link(rel='logo', type='image/svg', href='assets/img/logo.svg')

    //- Stylesheet and fonts are placed after body for performance reasons
    //- Scripts are places at the end of body for performance reasons

  body
    header.header
      div.header__inner

        a.header__inner__link(href='/')
          img.header__inner__logo(src='assets/img/logo.svg')

        nav.header__inner__nav
          ul.header__inner__nav__list
            li.header__inner__nav__list__item
              a.header__inner__nav__list__item__link.header__inner__nav__list__item__link_active(href='javascript:void(0)')
                | Home
            li.header__inner__nav__list__item
              a.header__inner__nav__list__item__link(href='javascript:void(0)')
                | Carros
            li.header__inner__nav__list__item
              a.header__inner__nav__list__item__link(href='javascript:void(0)')
                | Sobre Nós
            li.header__inner__nav__list__item.header__inner__nav__list__item_cta
              a.header__inner__nav__list__item__link(href='javascript:void(0)')
                | Alugue


    section.jumbotron
      span.jumbotron__text
        | Deixe cineza levar você!


    section.motivational

      div.motivational__text
        h2.motivational__text__title
          | Você pode confiar em cineza
        span.motivational__text__description
          | Os serviços de cineza são usados por pessoas no mundo todo

      div.motivational__items
        div.motivational__items__secure
          img.motivational__items__secure__icon(src='assets/img/secure.svg', alt='')
          h3.motivational__items__secure__title
            | Seguro
          p.motivational__items__secure__text
            | Todos os carros de Cineza são equipados com air bag e possuem seguro

        div.motivational__items__fast
          img.motivational__items__fast__icon(src='assets/img/fast.svg', alt='')
          h3.motivational__items__fast__title
            | Rápido
          p.motivational__items__fast__text
            | Fazendo sua reselva online, você pode pegar um carro na loja mais próxima em 30 minutos

        div.motivational__items__easy
          img.motivational__items__easy__icon(src='assets/img/easy.svg', alt='')
          h3.motivational__items__easy__title
            | Fácil
          p.motivational__items__easy__text
            | Nossos atendentes são treinados pala esclarecer todas as suas duvidas


    section.models
      div.models__car
        img.models__car__icon(src='assets/img/car_draw.svg', alt='')

      div.models__text
        span.models__text__description.models__text__description_intro
          | Não importa o modelo
        span.models__text__description.models__text__description_finish
          | Cineza tem o carro ideal pra você!
        button.models__text__cta
          | Veja os veículos!


    section.know-more
      div.know-more__text
        h2.know-more__text__title
          | Cineza é&nbsp;
          span.know-more__text__title__more
            | mais&nbsp;
          | do que carros
        span.know-more__text__mission
          | Nossa missão é levar pessoas até seus objetivos
        buttom.know-more__text__cta
          | Saiba mais


    section.app
      div.app__center
        div.app__center__cellphone
          img.app__center__cellphone__image(src='assets/img/iphone.png', alt='')
        div.app__center__text
          h2.app__center__text__title
            | Leve a cineza para onde você for
          p.app__center__text__description
            | Com o aplicativo de Cineza, você terá suporte 24 horas, sete dias por semana, onde quer que você esteja!
          span.app__center__text__soon
            | Em breve
          a.app__center__text__app-store(href='')
            img.app__center__text__app-store__image(src='assets/img/appstore.png', alt='')
          a.app__center__text__google-play(href='')
            img.app__center__text__google-play__image(src='assets/img/googleplay.png', alt='')

    footer.footer
      div.footer__logo
        a.footer__logo__link(href='javascript:void(0)')
          img.footer__logo__link__lent-a-cal(src='assets/img/logo.svg', alt='')
        a.footer__logo__link(href='javascript:void(0)')
          img.footer__logo__link__cineza(src='assets/img/cineza.svg', alt='')
      p.footer__fictional
        | Cineza lent-a-cal, assim com todos os sites da Cineza Colpolation, não são empresas reais. Seu conteúdo tem finalidade humorística e acadêmica, ao servir de prática nas tecnologias utilizadas para os colaboradores do projeto. Qualquer semelhanção com pessoas, personagens ou marcas registradas é mera coincidência.
      span.footer__copyright
        | © Cineza Lent-a-Cal pertence ao grupo Cineza Colpolation - todos os direitos reservados

    //- JS scripts
    //- ===================================
    script(async, src='assets/js/index.min.js')

//- Stylesheet and fonts
//- ===================================
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800')
link(rel='stylesheet', href='assets/css/style.css')


