.footer
  width: 100%
  min-height: 30vh
  background-color: #eaeaea
  display: flex
  flex-wrap: wrap
  align-items: center
  text-align: center
  padding: 2em 5em
  @media (max-width: 600px)
    padding: 2em 2em

.footer__logo
  margin: 0 auto
  width: 100%
  margin-bottom: 1em

.footer__logo__link
  display: inline-block

.footer__logo__link__lent-a-cal,
.footer__logo__link__cineza
  height: 40px
  padding: 0 30px
  @media (max-width: 600px)
    height: 30px
    padding: 0 15px

.footer__logo__link__cineza
  border-left: 1px solid #c3c3c3

.footer__fictional,
.footer__copyright
  color: #9A9A9A
  font-size: .8em
  margin: 0 auto
  display: block
  line-height: 1.2
  text-align: justify

.footer__fictional
  max-width: 700px
  margin-bottom: 1em

.footer__copyright
  text-transform: uppercase
